RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)/?$ $1.html [NC,L]

# Bloquear el acceso a los directorios
Options -Indexes

#Código para redirigir a www.bastiasa.site:
#RewriteEngine On
#RewriteCond %{HTTP_HOST} !^www\.bastiasa\.site$ [NC]
#RewriteRule ^(.*)$ http://www.bastiasa.site/$1 [L,R=301]

#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule \.(png|jpg|gif|pdf|jpeg)$ media/image-handler.php [L]
