
.image-placeholder {
    position: relative;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0.18) 100%
    );

    background-repeat: repeat;
    animation: placeholder-shimmer 100s infinite linear;
}


.image-placeholder img {
    position: absolute;
    inset: 0;
}