

.certificate-cover img {
    height: auto;
    width: 100%;

    box-shadow: 5px 5px 10px 1px  #00000069;
}

.certificate-cover {
    width: 160px;
}


.certificate-container:hover .certificate-name {
    opacity: 1;
    transform: translateY(-100%);
}


.certificate-name {
    font-size: small;
    text-align: center;
    position: absolute;

    color: var(--foreground-color);
    opacity: 0;
    top: 0;

    width: 100%;

    transform: translateY(0);

    transition: top 300ms ease-in-out;
    transition-property: transform, opacity;
}


@media (max-width:600px) {
    .certificate-cover {
        width: 170px;
    }
}

@media (max-width:426px) {
    .certificate-cover {
        width: 150px;
    }
}